<div class="wrapInfo">
  	<!--         BOX 01 -->      
  	<div class="box boxInfo">
		<h2 class="boxHeader text-uppercase">Personal Infomation</h2>
		<div class="boxBody">
				<div class="groupInfo">
					<p class="ttl">Name</p>
					<p>Le Nguyen Duc Hieu</p>
				</div>
				<div class="groupInfo">
					<p class="ttl">Email</p>
					<p>lnd.hieu1801@gmail.com</p>
				</div>
				<div class="groupInfo">
					<p class="ttl">Phone</p>
					<p>0906 334 192</p>
				</div>
				<div class="groupInfo">
					<p class="ttl">Address</p>
					<p>1274 Lac Long Quan Street, Ward 8, Tan Binh District, HCMC</p>
				</div>
				<div class="groupInfo">
					<p class="description">I graduated in <span class="text-bold text-uppercase">Ho Chi Minh City University of Technology</span> with a Bachelor of Electrical and Electronics Engineering. After Graduation, I realized that my passion doesn't belong to Electric field so I decided to follow my interest in Web Development. That's why now I am a Front-end Developer instead of an electrical enginner.</p>
				</div>
		</div>
  	</div>
  	<!--         BOX 02 -->                  
  	<div class="box boxInfo">
		<h2 class="boxHeader text-uppercase">Personal Skills</h2>
		<div class="boxBody">
			<div class="groupInfo row">
				<div class="row">
					<p class="ttl fl">HTML/CSS,SASS</p>
					<p class="scoreNumber fr"><span data-parallax-score="200,80,2000">0</span>%</p>
				</div>
				<div class="scoreBar"><span progress="90"></span></div>
			</div>
			<div class="groupInfo row">
				<div class="row">
					<p class="ttl fl">JS/Jquey</p>
					<p class="scoreNumber fr"><span data-parallax-score="200,70,2000">0</span>%</p>
				</div>
				<div class="scoreBar"><span progress="80"></span></div>
			</div>
			<div class="groupInfo row">
				<div class="row">
					<p class="ttl fl">PHP/MySQL+Laravel</p>
					<p class="scoreNumber fr"><span data-parallax-score="200,50,2000">0</span>%</p>
				</div>
				<div class="scoreBar"><span progress="70"></span></div>
			</div>
			<div class="groupInfo row">
				<div class="row">
					<p class="ttl fl">NodeJS/MongoDB</p>
					<p class="scoreNumber fr"><span data-parallax-score="200,50,2000">0</span>%</p>
				</div>
				<div class="scoreBar"><span progress="70"></span></div>
			</div>
			<div class="groupInfo row">
				<div class="row">
					<p class="ttl fl">Angular/ReactJS/VueJS</p>
					<p class="scoreNumber fr"><span data-parallax-score="200,70,2000">0</span>%</p>
				</div>
				<div class="scoreBar"><span progress="50"></span></div>
			</div>
		</div>
  	</div>
</div> 

<div class="wrapInfo">
	<div class="box boxExp">
		<h2 class="boxHeader text-uppercase">Working Experiences</h2>
		<div class="boxBody">
				<div class="groupInfo">
					<p class="time text-bold">Feb 2017 - April/2017</p>
					<div class="contentInfo">
						<p class="titleInfo">Coder at Saigon Hi-tech</p>
						<ul class="detailInfo">
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, beatae incidunt? Dolores voluptatum sit cupiditate harum ipsam ipsa atque non vero nobis nihil, qui iure excepturi quas. Sunt, quasi eius.</li>
							<li>Do something with somebody in somewhere</li>
						</ul>
					</div>
				</div>
				<div class="groupInfo">
					<p class="time text-bold">May 2017 - present</p>
					<div class="contentInfo">
						<p class="titleInfo">Front-end Developer at Transcosmos Inc</p>
						<ul class="detailInfo">
							<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, beatae incidunt? Dolores voluptatum sit cupiditate harum ipsam ipsa atque non vero nobis nihil, qui iure excepturi quas. Sunt, quasi eius.</li>
							<li>Do something with somebody in somewhere</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
</div>