<div class="modalScreen modalLogin">
    <div class="modalBox" data-prevent>
        <form action="" class="formArea">
            <div class="formBody">
              <div class="formGroup">
                <div class="formLabel">Username</div>
                <input type="text" name="name" class="formInput" placeholder="Username">
              </div>
              <div class="formGroup">
                <div class="formLabel">Password</div>
                <input type="password" name="password" class="formInput" placeholder="Password">
              </div>
            </div>
            <div class="formFooter">
              <button class="btnSubmit">SUBMIT</button>
            </div>
          </form>
    </div>
</div>